<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost in Space</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-blue-900 flex flex-col items-center justify-center h-screen relative">
    <img src="{{ url_for('static', filename='images/404.png') }}" alt="Lost in Space" class="absolute w-full h-full object-cover">
    <a href="{{ url_for('index') }}" class="z-20 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors absolute" style="bottom: X%; left: Y%; top: 505px;">
        Take Me Home
    </a>
</body>
</html>
