<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bike Map</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script defer src="https://unpkg.com/@victoryoalli/alpinejs-timeout@1.0.0/dist/timeout.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApT0xMbM9WAc0irn4JMDw1Ayb53B7Q1p8&libraries=places"></script>
    </head>
    <body x-data="{open: false}" class="bg-stone-200 font-sans m-0 p-0">
        <!-- sidebar section -->
        <div
            x-bind:class="open ? '' : '-translate-x-96'"
            class="bg-white text-black text-center p-9 shadow-md w-96 h-screen fixed top-0 left-0 overflow-y-auto transition duration-300 ease-in-out transform z-30"
            id="sidebar"
        >
            <!-- this is the sidebar section -->
            {% include "sidebar.html" %}
        </div>
        
        <div x-data="{rightSidebarOpen: false}">
            <!-- Right sidebar -->
            <div
                x-bind:class="rightSidebarOpen ? 'translate-x-0' : 'translate-x-full'"
                class="fixed top-0 right-0 h-screen w-96 bg-white overflow-auto transition-all duration-300 ease-in-out transform z-50"
                id="rightSidebar"
            >
                <div class="p-4">
                    <h2 class="text-lg font-semibold mb-4">Station Information</h2>
                    <div id="stationInfo"></div>
                </div>
            </div>

        <!-- main section -->
        <div x-bind:class="open ? 'translate-x-96' : '' " class="overflow-hidden transition-all duration-300 ease-in-out" id="mainContent">
            <!-- this is the main section -->
            {% include "main.html" %}
        </div>
        {% include "searchbar.html" %}
        {% include "trip.html" %}
        {% include "select.html" %}
    </body>
</html>
