{% include "map.html" %}

<div class="absolute top-0 left-0 right-0 flex items-center p-2.5 bg-transparent z-10">
    <button @click="open = !open" id="sidebarToggle" class="hamburger-button bg-transparent border-none text-black text-2xl cursor-pointer pr-1 ml-1 rounded" onclick="leftSideBar()"> ☰ </button>
    <div class="flex items-center bg-white rounded-full shadow-md ml-5" style="width: 350px; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)">
        <input
            type="text"
            id="searchBar"
            class="border-none outline-none pl-5 pr-10 py-2 text-base w-full rounded-full"
            placeholder="Search Map For Nearest Bike Station"
            onclick="searchBarClick()"
            oninput="showSearchPrompt()"
        />
        <div id="searchPrompt" class="hidden mt-2 text-sm text-gray-600"></div>
    </div>
</div>
