name: Deploy to ECR

on:
  push:
    branches: 
      - main


jobs:
  build:
    
    name: Build Image
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-north-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-pf-aws-ecr.outputs.registry }}
        ECR_REPOSITORY: 891377120799.dkr.ecr.eu-north-1.amazonaws.com/comp30830-flask-project
        IMAGE_TAG: version1
      run: |
        docker build -t 891377120799.dkr.ecr.eu-north-1.amazonaws.com/comp30830-flask-project:version1 .
        docker push 891377120799.dkr.ecr.eu-north-1.amazonaws.com/comp30830-flask-project:version1
